@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --primary-button: hsl(85, 85%, 35%); 
    --secondary-color: rgb(101, 163, 13, 20%);
}

.dark {
    --primary-button: hsl(0, 0%, 0%);
    --secondary-color: rgb(101, 163, 13, 40%);
}

/* button {
    background-color: var(--primary-color);
} */